/* Reset de estilos y estilos generales */
body {
    background-color: #f8f9fa;
    color: #343a40;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0 15px;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #ffffff;
    color: #ffffff;
}

.navbar-brand {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}



.navbar-toggler-icon {
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #000000;
}

.campoAdmin label {
    color: #000000;
}

/* Estilos para el formulario de administrador */
#formulario-administrador {
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.campoAdmin {
    margin-bottom: 15px;
}

.input-text,
.form-select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
}

.input-image {
    margin-top: 10px;
}

.imagenPreview {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

#imgPreview {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

/* Estilos para los botones */
#botones {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#btnAgregar {
    background-color: #27ae60;
    color: #ffffff;
}

#btnConsultar {
    background-color: #3498db;
    color: #ffffff;
}

#btnModificar {
    background-color: #f39c12;
    color: #ffffff;
}

#btnDeshabilitar {
    background-color: #e74c3c;
    color: #ffffff;
}

#btnMostrar {
    background-color: #8e44ad;
    color: #ffffff;
}

#btnLimpiar {
    background-color: #bdc3c7;
    color: #ffffff;
}

/* Estilos para la lista de productos */
#productos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#productos th,
#productos td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#productos th {
    background-color: #3498db;
    color: #ffffff;
}

/* Estilos para las imágenes en la lista de productos */
#productos img {
    max-width: 100px; /* Ajusta según sea necesario */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para el pie de página */
footer {
    background-color: #ecf0f1;
    padding: 20px;
    text-align: center;
}