body {
    background-color: #1a1a1a;
}

.neon-box {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 179, 0.5);
    text-align: center;
    margin-top: 50px;
}

.neon-text {
    color: #ff00b3;
    font-size: 28px; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0 0 15px rgba(255, 0, 179, 0.8);
}

/* Estilo para el enlace */
.neon-text a {
    text-decoration: none; /* Elimina el subrayado */
    color: #ff00b3; /* Cambia el color del texto a rosa neón */
}

.neon-text-small {
    color: #ffd700;
    font-size: 20px; 
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgba(255, 165, 0, 0.8);
}

form input{
    background-color: #171717;
    color: #fff;
    border: 1px solid #383838;
}
