body {
    background-color: #f2f7fd;
    color: #1a1a1a;
}

.navbar {
    background-color: #85c7e1;
    margin-bottom: 20px;
}

.navbar-brand {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.card {
    background-color: #ffffff;
    color: #1a1a1a;
    border: 1px solid rgba(26, 26, 26, 0.1);
    box-shadow: 0 4px 8px rgba(26, 26, 26, 0.1);
    margin-bottom: 20px;
}

.card-title {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    color: #4a4a4a;
}

.btn-primary {
    background-color: #4fa1e1;
    border-color: #4fa1e1;
}

.btn-primary:hover {
    background-color: #2c82c8;
    border-color: #2c82c8;
}

/* Establece un estilo flexible para los productos */
.products-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que los productos se muevan a la siguiente fila cuando no hay espacio suficiente */
    justify-content: flex-start; /* Alinea los productos al principio del contenedor */
}

/* Establece un estilo para cada producto */
.product {
    flex: 0 0 calc(30% - 10px); /* Define el ancho de cada producto, ajusta según sea necesario */
    margin: 5px; /* Reduce el margen entre los productos */
    border: none; /* Elimina el borde del producto */
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(26, 26, 26, 0.1); /* Agrega una sombra suave */
    background-color: #ffffff; /* Establece el color de fondo */
}

.product img {
    max-width: 50%;
    height: auto;
}

/* Estilo para los botones en general */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo para el botón primario */
.button-primary {
    background-color: #4fa1e1;
    color: #ffffff;
}

/* Estilo para el botón secundario (por ejemplo, el botón de reset) */
.button-secondary {
    background-color: #dddddd;
    color: #333333;
}

/* Estilo para el botón de agregar al carrito */
.add-to-cart {
    background-color: #28a745;
    color: #ffffff;
}

/* Pseudoclase hover para resaltar los botones al pasar el mouse sobre ellos */
.button:hover {
    background-color: #2c82c8;
}